{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="form-group col-md-4">
  </div>
  <div class="row">
    <div class="form-group col-md-4">
    <form class="form-signin" method="post">
      {% csrf_token %}
      <h2 class="form-signin-heading">Please sign in</h2>
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
      {% for field in form %}
        <p>{{ field }}<p>
      {% endfor %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <input type="hidden" name="next" value="{% url 'home' %}" />
    </form>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
  </div>
</div>
{% endblock content %}
