{% extends "base.html" %}

{% block content %}
<div class="well">
  <h1>T5 Towing Metrics</h1>
  <br><br>
  <form method="POST">
    {% csrf_token %}
    <h4>Please enter a start and end date if you would like to filter the charts</h4>
    Start date&nbsp;<input type='date' name='start_date'>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End date&nbsp;<input type='date' name='end_date'>
    <p><button type="submit" class="btn navbar-btn btn-primary">Submit</button></p>
  </form>
  <br>
  <h4>Tows per Day</h4>
  <div id="chart-1">{{ towtrip_chart.as_html }}</div>
  <br><br>
  <h4>Payments per Day</h4>
  <div id="chart-2">{{ payment_number_chart.as_html }}</div>
  <br><br>
  <h4>Payment Revenue per Day</h4>
  <div id="chart-3">{{ payment_sum_chart.as_html }}</div>
</div>
{% endblock content %}
