{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<form method="get">
  <div class="well">
    <h3>Payment History</h3>
    <div class="row">
      <br>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;VIN:</strong>
        {% render_field filter.form.vehicle__vin class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3"></div>
      <div class="form-group col-sm-4 col-md-3"></div>
    </div>
  <button type="submit" class="btn btn-primary">
  <span class="glyphicon glyphicon-search"></span> Search
  </button>
  </div>
</form>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Zip Code</th>
      <th>Vehicle VIN</th>
      <th>Vehicle Description</th>
      <th>Amount</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for payment in filter.qs %}
      <tr>
        <td>{{ payment.firstname }}</td>
        <td>{{ payment.lastname }}</td>
        <td>{{ payment.zipcode }}</td>
        <td>{{ payment.vehicle.vin }}</td>
        <td>{{ payment.vehicle }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.timestamp }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="8">No data</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
