{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<form method="get">
  <div class="well">
    <h3>Employee Profile for {{ employee }}</h3>
    <br>
    <div class="row">
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;First Name:</strong>
        {% render_field employee_form.first_name class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Last Name:</strong>
        {% render_field employee_form.last_name class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Address:</strong>
        {% render_field employee_form.address class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Phone:</strong>
        {% render_field employee_form.phone class="form-control" disabled="disabled" %}
      </div>
    </div>
  </div>
</form>
{% endblock content %}
