{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="form-group col-md-4">
  </div>
  <div class="row">
    <div class="form-group col-md-6">
    <form class="form-signin" method="post">
      {% csrf_token %}
      <h2 class="form-signin-heading">Please Register!</h2>
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style='color:grey'>{{ field.help_text|safe }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
    </form>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
  </div>
</div>
{% endblock content %}
