{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="well">
    <h3>Vehicle Check-In</h3>
    <br>
    <h4>Vehicle Information</h4>
    <div class="row">
      <br>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;VIN:</strong>
        {% render_field vehicle_form.vin class="form-control" %}
        </form>
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Year:</strong>
        {% render_field vehicle_form.year class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Make:</strong>
        {% render_field vehicle_form.make class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Model:</strong>
        {% render_field vehicle_form.model class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Color:</strong>
        {% render_field vehicle_form.color class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Description:</strong>
        {% render_field vehicle_form.description class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Damage:</strong>
        {% render_field vehicle_form.damage class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;License Number:</strong>
        {% render_field vehicle_form.license_num class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;License State:</strong>
        {% render_field vehicle_form.license_state class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Balance:</strong>
        {% render_field vehicle_form.balance class="form-control" disabled="disabled" %}
      </div>
    </div>
    <br>
    <h4>Tow Trip Information</h4>
    <div class="row">
      <br>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Timestamp:</strong>
        {% render_field towtrip_form.timestamp class="form-control" %}
        </form>
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Pickup Address:</strong>
        {% render_field towtrip_form.pickupaddress class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Employee:</strong>
        {% render_field towtrip_form.employee class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Tow Truck:</strong>
        {% render_field towtrip_form.towtruck class="form-control" %}
      </div>
    </div>
    <br>
    <h4>Lot Space Information</h4>
    <div class="row">
      <br>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Lot:</strong>
        {% render_field lotspace_form.lot class="form-control" %}
        </form>
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;LotSpace Number:</strong>
        {% render_field lotspace_form.number class="form-control" %}
      </div>
    </div>
  <button type="submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-save"></span> Save
  </button>
  </div>
</form>
{% endblock content %}
