{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<form method="get">
  <div class="well">
    <h3>Vehicle Records</h3>
    <br>
    <h4>Vehicle</h4>
    <div class="row">
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;VIN:</strong>
        {% render_field vehicle_form.vin class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Year:</strong>
        {% render_field vehicle_form.year class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Make:</strong>
        {% render_field vehicle_form.make class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Model:</strong>
        {% render_field vehicle_form.model class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Description:</strong>
        {% render_field vehicle_form.description class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Damage Noted:</strong>
        {% render_field vehicle_form.damage class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;License Plate Number:</strong>
        {% render_field vehicle_form.license_num class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;License Plate State:</strong>
        {% render_field vehicle_form.license_state class="form-control" disabled="disabled" %}
      </div>
    </div>
    <br>
    <h4>Tow Trip</h4>
    <div class="row">
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Timestamp:</strong>
        {% render_field towtrip_form.timestamp class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Pickup Address:</strong>
        {% render_field towtrip_form.pickupaddress class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;T5Towing Employee:</strong>
        {% render_field towtrip_form.employee class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Tow Truck:</strong>
        {% render_field towtrip_form.towtruck class="form-control" disabled="disabled" %}
      </div>
    </div>
    <br>
    <h4>Balance and Location:</h4>
    <div class="row">
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Balance:</strong>
        {% render_field vehicle_form.balance class="form-control" disabled="disabled" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;Located in Lot Space:</strong>
        {% render_field lotspace_form.number class="form-control" disabled="disabled" %}
      </div>
    </div>
  </div>
</form>
{% if user.is_authenticated %}
<div class="row">
  <div class="form-group col-md-12">
    <button type="button" class="btn navbar-btn btn-success" onclick="location.href='{% url 'inventory:payment' vin %}'">Make Payment</button>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="vin" value={{ vin }} />
      <button type="submit" class="btn btn-primary">Confirm Checkout</button>
    </form>
  </div>
</div>
{% else %}
<div class="row">
  <div class="form-group col-md-4">
    <button type="button" class="btn navbar-btn btn-success" onclick="location.href='{% url 'inventory:payment' vin %}'">Make Payment</button>
  </div>
  <div class="form-group col-md-4"></div>
  <div class="form-group col-md-4"></div>
</div>
{% endif %}
{% endblock content %}
