{% extends "base.html" %}

{% block content %}
<div class="well">
  <h2>Upload a CSV File</h2>
  <p>Please select a csv file to upload; ensure your csv filename matches the name of the destination model class.</p>
  <!-- Upload form -->
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file"><br>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-cloud-upload"></span> Upload
    </button>
  </form>
</div>
{% endblock content %}
