{% extends "base.html" %}

{% block content %}
<div class="well">
  <div class="row">
    <div class="form-group col-sm-4 col-md-3">
      <h4>Section A Utilization</h4>
      <div class="c100 p{{ lotspace_a_percent }} blue">
        <span>{{ lotspace_a_percent }}%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
    <div class="form-group col-sm-4 col-md-3">
      <h4>Section B Utilization</h4>
      <div class="c100 p{{ lotspace_b_percent }} blue">
        <span>{{ lotspace_b_percent }}%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
    <div class="form-group col-sm-4 col-md-3">
      <h4>Section C Utilization</h4>
      <div class="c100 p{{ lotspace_c_percent }} blue">
        <span>{{ lotspace_c_percent }}%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
    <div class="form-group col-sm-4 col-md-3">
      <h4>Section D Utilization</h4>
      <div class="c100 p{{ lotspace_d_percent }} blue">
        <span>{{ lotspace_d_percent }}%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>LotSpace Number</th>
      <th>Full</th>
      <th>Tow Trip</th>
      <th>Vehicle</th>
    </tr>
  </thead>
  <tbody>
    {% for lotspace in lotspace_list %}
      <tr>
        <td>{{ lotspace.number }}</td>
        <td>{{ lotspace.full }}</td>
        <td>{{ lotspace.towtrip }}</td>
        <td>{{ lotspace.towtrip.vehicle.vin }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">No data</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
