{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="container wrapper">
  <div class="row cart-body">
    <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
      <!-- CREDIT CART PAYMENT -->
      <div class="panel panel-info">
        <div class="panel-footer"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment</div>
        <div class="panel-body">
          <div class="form-group">
            <div class="col-md-12"><strong>Card Type:</strong></div>
            <div class="col-md-12">
              <select id="card_type" name="card_type" class="form-control">
                <option value="5">Visa</option>
                <option value="6">MasterCard</option>
                <option value="7">American Express</option>
                <option value="8">Discover</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12"><strong>Credit Card Number:</strong></div>
            <div class="col-md-12"><input type="text" class="form-control" name="card_number" value="" /></div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <strong>Expiration Date</strong>
            </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <select class="form-control" name="expiration_month">
                <option value="">Month</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <select class="form-control" name="expiration_year">
                <option value="">Year</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2025">2026</option>
                <option value="2025">2027</option>
              </select>
              </div>
          </div>
          <div class="form-group">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <strong>Card CVV:</strong>
                <input type="text" class="form-control" name="card_cvv" value="" />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <strong>Amount:</strong>
                <input type="text" class="form-control" name="amount" value="{{ vehicle.balance }}" />
              </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <span>Pay securely using your credit card.</span>
            </div>
            <div class="col-md-12">
              <img src="{% static "inventory/assets/img/accepted_ccs.png" %}">
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <button type="submit" class="btn btn-primary btn-submit-fix">Submit Payment</button>
            </div>
            <br><br><br><br>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
        <!-- SHIPPING METHOD -->
        <div class="panel panel-info">
            <div class="panel-footer">Payment Information</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-6 col-xs-12">
                        <strong>First Name:</strong>
                        <input type="text" name="firstname" class="form-control" value="" />
                    </div>
                    <div class="span1"></div>
                    <div class="col-md-6 col-xs-12">
                        <strong>Last Name:</strong>
                        <input type="text" name="lastname" class="form-control" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12"><strong>Address:</strong></div>
                    <div class="col-md-12">
                        <input type="text" name="address" class="form-control" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12"><strong>City:</strong></div>
                    <div class="col-md-12">
                        <input type="text" name="city" class="form-control" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12"><strong>State:</strong></div>
                    <div class="col-md-12">
                        {% render_field form.state class="form-control" %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                    <div class="col-md-12">
                        <input type="text" name="zipcode" class="form-control" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12"><strong>Phone Number:</strong></div>
                    <div class="col-md-12"><input type="text" name="phone" class="form-control" value="" /></div>
                </div>
                <div class="form-group">
                    <div class="col-md-12"><strong>VIN:</strong></div>
                    <div class="col-md-12"><input type="text" name="vehicle" class="form-control" value="{{ vin }}" /></div>
                </div>
            </div>
        </div>
      </div>
      </form>
  </div>
  <div class="row cart-footer">
  </div>
</div>
{% endblock content %}
