{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<form method="get">
  <div class="well">
    <h3>Search</h3>
    <div class="row">
      <br>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;VIN:</strong>
        {% render_field filter.form.vin class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;License Plate Number:</strong>
        {% render_field filter.form.license_num class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <strong>&nbsp;License Plate State:</strong>
        {% render_field filter.form.license_state class="form-control" %}
      </div>
    </div>
  <button type="submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-search"></span> Search
  </button>
  </div>
</form>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>VIN</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Description</th>
      <th>License Plate Number</th>
      <th>License Plate State</th>
      {% if user.is_authenticated %}
      <th>Checked In?</th>
      {% endif %}
      <th>Towing Details</th>
    </tr>
  </thead>
  <tbody>
    {% for vehicle in filter.qs %}
      <tr>
        <td>{{ vehicle.vin }}</td>
        <td>{{ vehicle.year }}</td>
        <td>{{ vehicle.make }}</td>
        <td>{{ vehicle.model }}</td>
        <td>{{ vehicle.description }}</td>
        <td>{{ vehicle.license_num }}</td>
        <td>{{ vehicle.license_state|upper }}</td>
        {% if user.is_authenticated %}
        <td>{{ vehicle.checkedin }}</td>
        <td><a href="{% url 'inventory:detail' vehicle.vin %}">Continue to checkout</a></td>
        {% else %}
        <td><a href="{% url 'inventory:detail' vehicle.vin %}">Click to view details</a></td>
        {% endif %}
      </tr>
    {% empty %}
      <tr>
        <td colspan="8">No data</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
