{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "meta.html" %}
    <link rel="icon" href="{% static "inventory/favicon.ico" %}">
    <title>T5 Towing Application</title>
    {% include "bootstrapcss.html" %}
    {% include "googlechartjs.html" %}
    {% include "datepickercss.html" %}
    {% include "datepickerjs.html" %}
    {% include "datepickerscript.html" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container theme-showcase" role="main">
        {% block content %}{% endblock %}
    </div>
    {% include "bootstrapjs.html" %}
  </body>
</html>
