{% load static %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "inventory/assets/js/vendor/jquery.min.js" %}"><\/script>')</script>
<script src="{% static "inventory/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "inventory/assets/js/docs.min.js" %}"></script>
<!-- jquery library for notification bars at top -->
<script src="{% static "inventory/dist/js/jquery.messagebar.min.js" %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static "inventory/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
