{% load static %}
<!-- Bootstrap core CSS -->
<link href="{% static "inventory/dist/css/bootstrap.min.css" %}" rel="stylesheet">
<!-- Bootstrap theme -->
<link href="{% static "inventory/dist/css/bootstrap-theme.min.css" %}" rel="stylesheet">
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="{% static "inventory/assets/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">
<!-- jquery library for notification bars at top -->
<link href="{% static "inventory/dist/css/jquery.messagebar.min.css" %}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static "inventory/theme.css" %}" rel="stylesheet">
<!-- Circle percentage bar -->
<link href="{% static "inventory/dist/css/circle.css" %}" rel="stylesheet" >
