{% extends "base.html" %}

{% block content %}
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
  <h1>T5 Towing</h1>
  <h3>Welcome to the T5 Towing Website</h3>
  <br>
  <p>Please use the Search link above to search for and confirm that your vehicle is located in the T5 Towing lot.</p>
  <br>
  <p>If your car has been towed by T5 Towing, please note the following information:</p>
  <ul>
    <li><p>The daily rate is $50 and will be charged so long as your vehicle is in the lot.</p></li>
    <li><p>Please be sure to pick up your car after paying off the balance to prevent additional charges.</p></li>
  </ul>
  <br>
  <p>We are located at 4600 W Armitage Ave in Chicago, IL</p>
  <p>You can call us at (773) 555-1234</p>
</div>
{% endblock content %}
