{% load static %}
<!-- Messages framework for notification bar at the top -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{% static "inventory/dist/js/jquery.messagebar.min.js" %}"></script>

{% for message in messages %}
  <div class="messagebar messagebar-{% if message.tags %}{{ message.tags }}{% endif %}" id="message_{{ forloop.counter }}">
    <div class="container">
      {{ message }}
      <button type="button" class="close" data-dismiss="message">&times;</button>
    </div>
  </div>
{% endfor %}

<script>
  $(function() {
    $(".messagebar").messageBar({
      autoclose: 3000,
      slide: true,
    });
  });
</script>
