<!-- Navbar element for navigating the site -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  {% include "messages.html" %}
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">T5Towing</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Logged in as <strong>{{ user.username }}</strong></a></li>
        <li><button type="button" class="btn navbar-btn btn-info" name="logout" onclick="location.href='{% url 'logout' %}'">Log Out</button></li>
        {% else %}
        <li><a href="#">Logged in as <strong>Guest</strong></a></li>
        <li><button type="button" class="btn navbar-btn btn-primary" name="login" onclick="location.href='{% url 'login' %}'">Log In</button></li>
        <li>&nbsp;&nbsp;</li>
        <li><button type="button" class="btn navbar-btn btn-success" name="register" onclick="location.href='{% url 'registration' %}'">Register</button></li>
        {% endif %}
      </ul>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'inventory:search' %}">Search</a></li>
        <li><a href="{% url 'inventory:payment' %}">Make Payment</a></li>
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Management</li>
            <li><a href="{% url 'inventory:file_upload' %}">Import Data</a></li>
            <li><a href="{% url 'inventory:lotspace' %}">Lot Space Dashboard</a></li>
            <li><a href="{% url 'payment_summary' %}">Payment History</a></li>
            <li><a href="{% url 'inventory:checkin' %}">Vehicle Check-In</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Metrics</li>
            <li><a href="{% url 'metrics' %}">T5 Towing Metrics</a></li>
        {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
